
a * {
    box-sizing: border-box;
}

.btn-logout {
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 16px 0px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}